body {
    max-width: 1200px;
    margin:auto;
}

.block { 
    background: black;
    padding: 10px;
    margin: 10px;
}

#block-columns { 
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: silver;
    margin: 10px 10px 15px 10px; 
} 

.menu {
    background: coral;
    color: white;
    padding: 10px;
    margin: 15px;  
}

#menu1 {
    flex-grow: 1;
}
#menu2 {
    flex-grow: 2;
}
#menu3 {
    flex-grow: 1;
}

#caixa-h1 {
    background: orange;
    padding: 10px;
    margin: 10px;
}

h1 {
    background: yellow;
    padding: 10px;
    margin: 10px; 
}

#cuadro-izquierdo {
    background: darkslategray;
    margin: 10px ;
    padding: 10px;
    width: 70%; 
}

#cuadro-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#columna-derecha {
    background: red;
    margin: 10px;
    padding: 10px; 
    justify-self: flex-end;
    width: 30%; 
}

.columna {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    width: 44%;;
}

.fila {
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}

#footer {
    background: yellow;
    padding: 10px;
    margin: 10px; 
}


@media (min-width:480px) and (max-width:1024px) {

#block-columns { 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#cuadro-izquierdo {
        width:100%; /*adaptar*/
    }

    #columna-derecha {
        width:100%; /*adaptar*/
    }
}
    
@media (min-width:0px) and (max-width:480px) {

    #block-columns { 
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    #cuadro-izquierdo {
        flex-direction: column;
        width: 100%; /*adaptar*/
        }

    #cuadro-columnas {
        flex-direction: column;
        }
        
    .columna {
        width: auto; }
    
    #columna-derecha {
        width: 100%; /*adaptar*/
        }

    #container-menus {
        flex-direction: column;
    } 

        .menu {
            margin: 15px 15px 0px 15px;  
        }

        #menu3 {
            margin: 15px; 

        }

}