body {
    max-width: 1200px;
}

#block-title { 
    background: black;
    padding: 10px;
    margin: 10px;
}

#block-columns { 
    background: black;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#block-footer { 
    background: black;
    margin: 10px;
    padding: 10px;
}

#container-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: silver;
    margin: 10px 10px 15px 10px; 
} 

.menu {
    background: coral;
    color: white;
    padding: 10px;
    margin: 15px;  
}

#menu1 {
    flex-grow: 1;

}
#menu2 {
    flex-grow: 2;

}
#menu3 {
    flex-grow: 1;
}

#caixa-h1 {
    background: orange;
    padding: 10px;
    margin: 10px;
}

h1 {
    background: yellow;
    padding: 10px;
    margin: 10px; 
}

#cuadro-izquierdo {
    background: darkslategray;
    margin: 10px ;
    padding: 10px;
    width: 70%; 
}

#cuadro-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#columna-derecha {
    background: red;
    margin: 10px;
    padding: 10px; 
    justify-self: flex-end;
    width: 30%; 
}

.columna {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    width: 44%;;
}

.fila {
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}

#footer {
    background: yellow;
    padding: 10px;
    margin: 10px; 
}



@media (min-width:0px) and (max-width:480px) {

    #block-title { 
        background: black;
        padding: 10px 10px;
        margin: 15px;
    }

    #container-menus {
        display: flex;
        flex-direction: column;
    } 

    #menu1 {
        background: grey;
        color: white;
        flex-grow: 1;
        padding: 10px;
        margin: 10px 15px;  
    }
    #menu2 {
        background: grey;
        color: white;
        flex-grow: 2;
        padding: 10px;
        margin: 10px 15px;
    }
    #menu3 {
        background: grey;
        color: white;
        flex-grow: 1;
        padding: 10px;
        margin: 10px 15px; 
    }

    h1 {
        max-width: 1200px;
        background: orange;
        color: yellow;
        margin: 10px 15px;
        padding: 10px;
    }
        
    #block-columns { 
        max-width: 1200px;
        background: black;
        margin: 15px;
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
    }

    #cuadro-izquierdo {
        color: blue;
        background: silver;
        padding: 50px 10px;
        margin: 15px; 
        display: flex;
        flex-direction: column; 
    }

    #columna1 {
        padding: 0px 10px;
    }
    #columna2 {
        padding: 0px 10px;
    }
    
    #columna-derecha {
        max-width: 1200px;
        background: red;
        color: yellow;
        margin: 15px;
        padding: 50px 10px;
    }
    
    #block-footer { 
        max-width: 1200px;
        background: black;
        margin: 15px;
        padding: 10px 10px 10px 10px;
        color: yellow
        
    }
}
@media (min-width:480px) and (max-width:1024px) {

#block-title { 
    background: black;
    padding: 10px 10px;
    margin: 15px;
}

#container-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

#menu1 {
    background: grey;
    color: white;
    flex-grow: 1;
    padding: 10px;
    margin: 10px 15px;  
}
#menu2 {
    background: grey;
    color: white;
    flex-grow: 2;
    padding: 10px;
    margin: 10px 15px;
}
#menu3 {
    background: grey;
    color: white;
    flex-grow: 1;
    padding: 10px;
    margin: 10px 15px; 
}

h1 {
    background: orange;
    color: yellow;
    margin: 10px 15px;
    padding: 10px;
}
    
#block-columns { 
    background: black;
    margin: 15px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

#cuadro-izquierdo {
    color: blue;
    background: silver;
    padding: 50px 10px;
    margin: 15px; 
    display: flex;
    flex-direction: row; 
}

#columna1 {
    padding: 0px 10px;
}
#columna2 {
    padding: 0px 10px;
}

#columna-derecha {
    background: red;
    color: yellow;
    margin: 15px;
    padding: 50px 10px;
}

#block-footer { 
    background: black;
    margin: 15px;
    padding: 10px 10px 10px 10px;
    color: yellow
}

}